*{
  padding: 0;
  margin: 0;
}

body{
  margin: 0;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para-container{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hello,.how{
  font-size: 56px;
  font-weight: 500;
  
}
@media (max-width: 500px) {
  .hello,.how{
    font-size: 50px;
    font-weight: 500;
  }
  .hello{
    /* margin-left: -60px; */
  }
  .how{
    /* margin-left: 28px; */
    line-height: 60px;
    text-align: center;
  }
}
.hello{
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.how{
  color: gray;
  margin-top: -10px;
}
.cards-mega-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card1,.card2,.card3,.card4{
  margin-top: 40px;
  width: 200px;
  height: 200px;
  border: 0px solid transparent;
  border-radius: 20px;
  background-color: #F0F4F9;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: ease-in-out 300ms;
}
.card2,.card3,.card4{
  margin-left: 10px;
}
.card1:hover,.card2:hover,.card3:hover,.card4:hover{
  width: 210px;
  height: 210px;
}
@media (max-width: 500px) {
  .card2,.card3,.card4{
    display: none;
  }
}
.input-container{
  position: fixed;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input{
  width: 694px;
  height: 56px;
  background-color: #F0F4F9;
  padding-left: 20px;
  padding-right: 50px;
  border: 0px solid transparent;
  border-radius: 28px;
  font-size: 17px;
  font-family: Poppins;
  position: relative;
  outline: none;
}
.input::placeholder{
  font-size: 17px;
  font-family: Poppins;
}
.send-icon{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .input{
    width: 270px;
    height: 56px;
  }
}
.visibility-off{
  display: none;
}
.output-container{
  margin-top: 10px;
  width: 900px;
  height: 500px;
  border: 0px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #F0F4F9;
  overflow-y: auto;
}

@media (max-width: 500px) {
  .output-container{
    width: 310px;
    height: 540px;
    padding-bottom: 90px;
    margin-top: 25px;
    background-color: white;
  }

}
.user-image,.ai-image{
  height: 32px;
  width: 32px;
  border: 0px solid transparent;
  border-radius: 16px;
}
.user-question,.ai-response{
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .user-image,.ai-image{
    margin-left: -20px;
  }
}
.question,.response{
  font-size: 17px;
  margin-left: 16px;
}
.response,.ai-image{
  margin-top: 25px;
}
.title{
  font-weight: 600;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* For WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track (part the thumb moves within) */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the draggable part of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovering over the thumb */
}
